---
apiVersion: kafka.nais.io/v1
kind: Topic
metadata:
    name: vedtak
    namespace: tbd
    labels:
        team: tbd
    annotations:
        dcat.data.nav.no/title: "Sykepengevedtak"
        dcat.data.nav.no/description: "Vedtak fattet om sykepenger"
        dcat.data.nav.no/theme: "helse"
        dcat.data.nav.no/keyword: "helse, sykepenger, vedtak"
spec:
    pool: nav-dev
    config:  # optional; all fields are optional too; defaults shown
        cleanupPolicy: delete  # delete, compact
        minimumInSyncReplicas: 1
        partitions: 3
        replication: 2  # see min/max requirements
        retentionBytes: -1  # -1 means unlimited
        retentionHours: 168  # -1 means unlimited
    acl:
        - team: tbd
          application: sporbar
          access: readwrite
        - team: flex
          application: spinnsyn-backend
          access: read
        - team: teamnks
          application: sf-sykmelding
          access: read
        - team: disykefravar
          application: dvh-sykefravar-airflow-kafka
          access: read
